/* button */

 .btn {
   @apply flex items-center justify-center rounded-md border border-transparent px-5 py-3 font-semibold capitalize transition duration-duration whitespace-nowrap;

   &:hover{
    @apply bg-opacity-80
   }
}

.btn-sm {
  @apply px-4 py-3 font-medium text-sm;
}

.btn-lg {
  @apply px-8 py-4 text-base;
}

.btn-primary {
   @apply border-border bg-primary text-white text-center;
}
 
.btn-outline-primary {
   @apply border-primary bg-transparent text-primary hover:bg-primary hover:text-white;
}
 
@media (min-width: 768px) {
   .md\:btn-lg {
     @apply btn-lg;
   }
}
 
@media (min-width: 1024px) {
   .lg\:btn-lg {
     @apply btn-lg;
   }
}


/* Form */

form {
  @apply text-sm
}

.form-input {
  @apply block mt-2 w-full rounded-lg border border-border bg-white px-5 py-2.5 text-dark focus:border-primary/70 focus:outline-none focus:ring focus:ring-primary focus:ring-opacity-20
}

.form-label {
  @apply block text-dark;
}


/* react-international-phone */

.react-international-phone-input-container .react-international-phone-input{
  width: 100%;
  border: none;
  background-color: transparent;
}

.react-international-phone-country-selector-button {
  border: none;
  background-color: transparent;
}