.react-datepicker {
    position: relative;
    display: flex;
    gap: 1.25rem;
    width: 100%;
  }

  @media (max-width: 640px) {
    .react-datepicker {
      flex-direction: column;
    }
  }
  
  .react-datepicker__aria-live {
    display: none;
  }
  .react-datepicker__month-container {
    width: 100%;
    text-align: center;
  }
  
  .react-datepicker__current-month {
    font-size: 0.875rem;
    font-weight: 600;
    color: #111827;
  }
  
  .react-datepicker__day-names {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    text-align: center;
    font-size: 0.75rem;
    line-height: 1.5;
    color: #6b7280;
  }
  
  .react-datepicker__month {
    margin-top: 1.25rem;
  }
  .react-datepicker__week {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    margin-top: 0;
  }
  .react-datepicker__day {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1em;
    cursor: pointer;
    cursor: auto;
  }
  
  .react-datepicker__day--in-range,
  .react-datepicker__day--in-selecting-range {
    background-color: rgba(209, 213, 219, 0.5);
    border-radius: 0;
  }
  .react-datepicker__day--range-start,
  .react-datepicker__day--selecting-range-start {
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
  }
  .react-datepicker__day--range-end,
  .react-datepicker__day--selecting-range-end {
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
  }
  .react-datepicker__day--selected,
  .react-datepicker__day--range-start,
  .react-datepicker__day--range-end,
  .react-datepicker__day--selecting-range-start,
  .react-datepicker__day--selecting-range-end {
    background-color: #22c55e;
    color: #fff;
  }
  .react-datepicker__day--disabled {
    color: #9ca3af;
  }
  .react-datepicker__day_span {
    display: flex;
    height: 46px;
    width: 46px;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
  }
  .addListingDatePickerExclude .react-datepicker__day--disabled {
    position: relative;
    background-color: rgba(209, 213, 219, 0.5);
    border-radius: 0;
    opacity: 0;
  }
  .addListingDatePickerExclude .react-datepicker__day--disabled::after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    border-left: 1px solid #9ca3af;
    border-color: #9ca3af;
    transform: rotate(45deg);
  }










  .react-datepicker__triangle{
    display: none;
  }

  .space-y-8 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.react-datepicker__day{
  cursor: pointer;
}

.react-datepicker-popper {
  z-index: 9999999999999999999;
  height: 420px;
  padding: 1em 1em 0 1em;
  opacity: 0;
  animation: fadeIn .2s ease forwards;
  @apply border bg-white
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(0px);
  } 
  100% {
    opacity: 1;
    transform: translateY(50px);
  }
}