@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgb(235, 235, 235);
	border-radius: 10px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #cccccc;
}

.hidden-scrollbar::-webkit-scrollbar-track {
  display: none;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.hidden-scrollbar::-webkit-scrollbar-thumb {
  display: none;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.heading{
  @apply text-3xl font-semibold md:text-4xl
}

.body{
 @apply block mt-2 text-base text-gray-500 sm:text-lg md:mt-3 
}

.listingSection__wrap {
  @apply w-full flex flex-col sm:rounded-2xl border-b sm:border-t sm:border-l sm:border-r border-neutral-200 space-y-6 sm:space-y-8 pb-10 px-0 sm:p-4 xl:p-8;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
  .grid_services{
    grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
    padding-right: 128px;
    padding-left: 128px;
  }
}

@keyframes myblur {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes brightness {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}



/* Daisy UI */

.custom-btn{
  @apply btn rounded-3xl text-white bg-green-500 hover:bg-green-600
}

.collapse-title, :where(.collapse > input[type="checkbox"]), :where(.collapse > input[type="radio"]) {
  width: 100%;
  padding: 1rem;
  min-height: 2.5rem;
  transition: background-color 0.2s ease-out;
}


.splide__arrow{
  opacity: 1;
  border: 1px solid rgb(221, 221, 221);
}


.cgrid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
  gap: 1em;
}
.custom-skeleton{
  animation: brightness 1.5s infinite;
  @apply rounded-xl bg-gray-300
}